@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/hk-grotesk.min.css");

html {
    overflow-x: hidden;
}


* {
    font-family: 'HK Grotesk', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

html {
    width: 100%;

}

h1 {
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #3a3a3b;
}

h2 {
    font-weight: 700;
}

a {
    color: #1DC5F6;
    size: 232px;
    text-decoration: none;
}

.navbar {
    border-bottom: 1px solid #cccccc;
    z-index: 5;
}

.landing-message {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;

}

.landing-message h1,
.landing-message p {
    color: white;
}

@media (max-width: 576px) {
    .landing-text {
        visibility: hidden;
    }

    .landing-message {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -20%);
    }

}

.btn {
    border-radius: 30px;
}

.btn-primary {
    background-color: #1DC5F6;
    border-color: #1DC5F6;
    color: white;
}

.btn-primary:hover {
    background-color: #5f90f8;
    border-color: #5f90f8;
    color: white;
}

.btn-primary:focus {
    background-color: #5f90f8;
    border-color: #5f90f8;
    color: white;
}

.landing {
    height: 93vh;
    margin-top: 70px;
}


.carousel-img {
    height: 93vh;
    filter: brightness(50%);
}

.slogan {
    margin-top: 5em;
}

.slogan-heading {
    color: #1DC5F6;
}

.line-break {
    display: flex;
    flex-direction: row;
}

.line-break:before,
.line-break:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
    border-color: #6e6e74;
}

.line-break:before {
    margin-right: 10px
}

.line-break:after {
    margin-left: 10px
}

.services {
    margin-top: 7em;
    margin-bottom: 5em;
}

.service-container {
    margin-top: 7em;
}

.service-item {
    border-right: 1px solid;
    border-color: #cccccc;
}

.service-item h6,
.service-item-right h6 {
    font-weight: 700;
    margin-bottom: 15px;
}

.service-item .fa,
.service-item-right .fa {
    color: #1DC5F6;
    font-size: 50px;
    margin-bottom: 15px;
}

.about-content {
    width: 100vw;
    background-color: #f9f9f9;
    margin-left: 0;
    padding-top: 50px;
    position: relative;
    top: -380px;
    margin-bottom: -380px;
}

.about-image {
    position: relative;
    z-index: 1;
}

.Partners {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f9f9f9;
}

@media (min-width: 768px) and (max-width: 967px) {
    .about-content {
        top: -380px;
        margin-bottom: -380px;
    }
}


@media (max-width: 576px) {
    .about-content {
        padding-top: 30px;
        top: 0px;
        margin-bottom: 0px;
    }

    .about-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

}



@media (max-width: 768px) {

    .service-item,
    .service-item-right {
        padding-top: 1em;
        border-right: 0px;
    }

    .about-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        padding-left: 1em;
        margin-bottom: 2em;
        height: 300px;
        width: 300px;
    }

    .about-content {
        padding-left: 4em;
        padding-right: 4em;
        width: 100vw;
        top: 0px;
        margin-bottom: 0px;
    }

    .btn-work {
        margin-left: 40vw;
    }

    .gallery-heading {
        margin-left: 20px;
    }

    .gallery-images img {
        width: 25vw;
    }

    .about-content {
        width: 100vw;
        background-color: #f9f9f9;
        margin-left: 0;

    }


}

@media (min-width: 968px) and (max-width: 1366px) {
    .stat-info {
        position: relative;
        left: 50%;
        top: 100%;
        transform: translate(-50%, -200%);
    }

    .about-content {
        top: -450px;
        margin-bottom: -450px;
    }


}

.background {
    color: #6e6e74;
}

.btn-work {
    height: 50px;
    width: 150px;
}


.lightbox-gallery {
    overflow-x: hidden
}


.photos div {
    padding: 0 0 0 0;
}

.item {
    overflow: hidden;
    background-color: #1DC5F6;
}

.item img {
    transition: transform .5s ease, opacity .5s ease;
}

.item img:hover {
    transform: scale(1.3);
    opacity: 40%;
}

.user {
    border-radius: 50%;
    box-shadow:
        1px 2px 2px hsl(220deg 60% 50% / 0.333),
        2px 4px 4px hsl(220deg 60% 50% / 0.333),
        3px 6px 6px hsl(220deg 60% 50% / 0.333);
    margin-bottom: 3em;
}

@media (max-width: 576px) {
    .testimonial-text {
        width: 70%;
        margin-left: 15%;
    }
}

@media (max-width: 976px) {
    .stats{
        margin-top: 30px;
    }
}

section#counter-stats {
	display: flex;
	justify-content: center;
	margin-top: 100px;
}

.stats {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.stats .fa {
  color: #1DC5F6;
  font-size: 60px;
}

.stats-container{
    margin-top: 75px;
    margin-bottom: 75px;
}

/*/ end count stats /*/

.display-4 {
    font-weight: 700;
}

.price-plan {
    background-color: #f9f9f9;
    z-index: 0;
    padding-left: 30px;
    padding-right: 30px;
}

.price-plan hr {
    color: #6e6e74;
}

.price-plan-center {
    background-color: #ffffff;
    box-shadow: 1px 0px 32px -4px rgba(174, 174, 174, 1);
    -webkit-box-shadow: 1px 0px 32px -4px rgba(174, 174, 174, 1);
    -moz-box-shadow: 1px 0px 32px -4px rgba(174, 174, 174, 1);
    z-index: 1;
    position: relative;
    top: -20px;
    padding-bottom: 50px;
    padding-top: 20px;
}

.price-plan-side{
    margin-bottom: 50px;
}

.rand {
    font-size: xx-large;
}

@media (max-width: 768px) {
    .price-plan {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        top: 0px;
        margin-bottom: 50px;
    }
}

.form-control {
    border: none;
    border-bottom: 1px solid #d9d9d9;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0; }
    .form-control:active, .form-control:focus {
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-color: #000; }
  
  .btn, .form-control {
    height: 55px; }
  
  form.border-right {
    padding-right: 6rem !important; }
    @media (max-width: 991.98px) {
      form.border-right {
        padding-right: 0 !important;
        border-right: none !important; } }
  
  label.error {
    font-size: 12px;
    color: red; }
  
  #message {
    resize: vertical; }
  
  #form-message-warning, #form-message-success {
    display: none; }
  
  #form-message-warning {
    color: #B90B0B; }
  
  #form-message-success {
    color: #55A44E;
    font-size: 18px;
    font-weight: bold; }
  
  .submitting {
    float: left;
    width: 100%;
    padding: 10px 0;
    display: none;
    font-weight: bold;
    font-size: 12px;
    color: #000; }
  

footer {
    background: #212529;
  }

